<br>
<br>
<br>
<section class="relative z-10 bg-[#F8FAFB] pt-[40px] pb-[25px] dark:bg-[#15182B]">
    <div class="wow fadeInUp container overflow-hidden lg:max-w-[1200px]" data-wow-delay=".2s" >
      <div class="-mx-4 flex flex-wrap items-center justify-center">

        <!-- <h2 class="text-2xl font-bold text-black dark:text-white"> -->
        <!-- <h2 class="mb-4 text-2xl font-bold text-black dark:text-white sm:text-4xl md:text-[24px] md:leading-tight">
          Curious has served more than 5000 page views to zoo & aquarium visitors
        </h2> -->



        <!-- <h1 class="mb-6 text-xl font-bold leading-tight text-black dark:text-white sm:text-[40px] md:text-[50px] lg:text-[42px] xl:text-[40px]">
          We've tracked <span class="inline bg-gradient-1 bg-clip-text text-transparent">more than 5500<br>page views</span> since launching
        </h1>  -->
        <br>
        <h1 class="mb-6 text-xl font-bold leading-tight text-center text-black dark:text-white sm:text-[40px] md:text-[50px] lg:text-[42px] xl:text-[36px]">
          We've tracked more than
          <span class="bg-gradient-1 bg-clip-text text-transparent"> 8000 visitor</span><br>
          <span class="bg-gradient-1 bg-clip-text text-transparent">page views</span> for zoos & aquariums
        </h1>

      </div>
    </div>
  </section>